.carousel {
    height: 300px;
    background-color: #eee;
    position: relative;
}

.carousel .carousel-inner .item {
    height: 300px;
    background-color: #eee;
}

@media (min-width: 0) {
    .carousel .carousel-inner .item img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .carousel {
        height: 400px;
    }
    .carousel .carousel-inner .item {
        height: 400px;
    }
    .carousel .carousel-inner .item img {
        width: 992px;
    }
}

@media (min-width: 992px) {
    .carousel {
        height: 500px;
    }
    .carousel .carousel-inner .item {
        height: 500px;
    }
    .carousel .carousel-inner .item img {
        width: 1200px;
    }
}

@media (min-width: 1200px) {
    .carousel {
        height: 600px;
    }
    .carousel .carousel-inner .item {
        height: 600px;
    }
    .carousel .carousel-inner .item img {
        width: 100%;
        height: 130%;
    }
}

.carousel h1 {
    position: absolute;
    color: #BDDBE6;
    bottom: 30%;
    font-family: Museo-700, serif;
    font-size: 4vw;
    width: 100%;
    text-align: center;
    display: inline-block;
    z-index: 1;
}

.slick {
    width: 900px;
    margin: 100px auto;
}

.slick img {
    width: 280px;
    padding: 10px;
}

.slick-prev:before,
.slick-next:before {
    position: absolute;
    left: 0;
    top: 1px;
    color: #ccc;
}

.slick-prev {
    left: -35px;
    margin: 0;
}

.slick-next {
    right: -35px;
    margin: 0;
}

.slick-dots {
    bottom: -35px;
}

.product-item {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-panel {
    width: 260px;
    cursor: pointer;
    margin: 0 auto;
}

.product-panel a {
    text-decoration: none;
}

.product-panel .image {
    position: relative;
    width: 260px;
    height: 260px;
    display: block;
    border-style: solid;
    border-width: 0;
    background: #fff;
    overflow: hidden;
    margin: 0 auto;
}

.product-panel .image img {
    margin: 0 auto;
    padding: 0;
    width: 260px;
    height: 260px;
}

.product-panel .image .product-tag {
    background-color: rgba(58, 128, 153, 1);
    font-size: 16px;
    max-width: 80%;
    min-width: 20%;
    overflow: hidden;
    position: absolute;
    padding: 5px 10px;
    top: 0;
    left: 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Museo-700;
}

.product-panel .image .product-qwbtn {
    height: 50px;
    width: 260px;
    margin: 0;
    padding: 0;
    z-index: 99;
    display: block;
    text-decoration: none;
    color: rgba(10, 15, 19, 1);
    line-height: 50px!important;
    font: normal normal normal 14px/1.43em Helvetica-W01-Light, Helvetica-W02-Light, sans-serif;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: translateY(0);
    border: none;
}

.product-panel:hover .image .product-qwbtn {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: translateY(-50px);
}

.product-item .product-info {
    margin: 0;
    position: relative;
    margin: 0 auto;
    background-color: black;
    width: 260px;
    height: 102px;
    color: white;
    padding: 15px 20px 20px;
    overflow: hidden;
    cursor: pointer;
}

.product-item .product-info h3 {
    margin: 0;
    padding: 0;
    display: block;
    font: normal normal normal 20px/1.25em Museo-700, serif
}

.product-item .product-info .dividers hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    border-bottom-width: 1px;
    width: 20px;
    border-bottom-color: rgba(255, 255, 255, 1);
}

.faq {
    background-color: rgb(77, 125, 150);
    padding: 60px 20px;
    text-align: center;
}

.faq img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.faq p,
.faq h2 {
    color: white;
    font-family: Museo-700;
    max-width: 900px;
    text-align: center;
    margin: 25px auto;
    line-height: 30px;
}


.cd-fixed-bg {
    background-color: white;
    background-image: url(../img/banner1.jpg);
    background-position: center top;
    background-repeat: repeat-x;
    background-size: auto 260%;
    height: 580px;
    position: relative;
}

.cd-fixed-bg.cd-bg-1 {
    width: 100%;
    height: 500px;
}

.aboutus {
    background-color: rgb(77, 125, 150);
    margin: 0;
    padding: 0;
    vertical-align: center;
}

.aboutus .cd-fixed-bg .rect {
    position: absolute;
    top: 125px;
    margin: 0 auto;
    max-width: 500px;
    height: 250px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    vertical-align: center;
}

.aboutus .cd-fixed-bg .rect h1 {
    margin: 0;
    line-height: 250px;
    font-size: 40px;
    color: #BDDBE6;
    font-family: Museo-700;
}

.aboutus .cd-scrolling-bg .cd-container p {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    padding: 60px 20px;
    line-height: 30px;
    font-size: 16px;
    font-family: Museo-700;
    color: white;
    text-align: center;
}